.container__body {
    display: flex;
    justify-content: center;
}

.container__card {
    outline: 1px solid;
    margin-top: 3rem;
    width: 960px;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1.5rem;
}