.container__body {
    display: flex;
    justify-content: center;
}

.container__card {
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 1000px;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3rem;
    row-gap: 1rem;
}